html {

}

body {

}

h1 {

}

h2 {

}

a {
    color:white;
    text-decoration: none;
}

.header {
    background-color:#1f2973;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 0;
}

.logo > img {
    height:50px;
    margin-left: 70px;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.topMenu {
    display: flex;
    justify-content: space-around;
    gap:25px;
    font-weight: bold;
    margin-right:70px;
}

.menu > li {
    
}

.menu > ul {
    list-style-type: none;
}

.top {

}

.message {

}

.h1message {

}

.signup {

}

.imgTop {

}

.firstImg {

}

.central {

}

.card {

}

.imgCard {

}

.textImg {

}

.bottom {

}

.copyPhrase {

}

.callToAction {

}

.copyAction {

}

.footer {

}

.copyright {

}